{"mojo_task_lib":"\/home\/slajax\/public_html\/development\/Blast-Mojo\/mojo\/tasks\/src\/","mojo_js_dir":"\/home\/slajax\/www\/development\/Blast-Mojo\/mojo\/sample\/js\/myapp\/","mojo_app_name":"myapp","mojo_bin_dir":"\/home\/slajax\/public_html\/development\/Blast-Mojo\/mojo\/tasks\/bin\/","mojo_config_loaded":true,"mojo_build_number":1}